BMS_CVL_Limit.json
[
    {
        "id": "charge_control_flow",
        "type": "tab",
        "label": "BMS Charge Limiter PRO",
        "disabled": false,
        "info": "Pokročilá regulace nabíjení s ochranou proti překmitům a hysterezí."
    },
    {
        "id": "input_actual_i",
        "type": "victron-input-battery",
        "z": "charge_control_flow",
        "service": "com.victronenergy.battery/1",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/1",
            "name": "BMS Battery"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Battery Current"
        },
        "name": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "logic_node"
            ]
        ]
    },
    {
        "id": "input_bms_ccl",
        "type": "victron-input-battery",
        "z": "charge_control_flow",
        "service": "com.victronenergy.battery/1",
        "path": "/Info/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.battery/1",
            "name": "BMS Battery"
        },
        "pathObj": {
            "path": "/Info/MaxChargeCurrent",
            "type": "float",
            "name": "Max Charge Current"
        },
        "name": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "logic_node"
            ]
        ]
    },
    {
        "id": "input_bms_cvl",
        "type": "victron-input-battery",
        "z": "charge_control_flow",
        "service": "com.victronenergy.battery/1",
        "path": "/Info/MaxChargeVoltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/1",
            "name": "BMS Battery"
        },
        "pathObj": {
            "path": "/Info/MaxChargeVoltage",
            "type": "float",
            "name": "Max Charge Voltage"
        },
        "name": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "logic_node"
            ]
        ]
    },
    {
        "id": "logic_node",
        "type": "function",
        "z": "charge_control_flow",
        "name": "PRO Logika s hysterezí a pamětí",
        "func": "// 1. Ukládání příchozích dat do kontextu paměti Node-RED\n// Zajišťujeme tak retenci stavů i při asynchronním toku zpráv.\nif (msg.topic.includes(\"/Dc/0/Current\")) flow.set(\"actualI\", msg.payload);\nif (msg.topic.includes(\"/Info/MaxChargeCurrent\")) flow.set(\"limitI\", msg.payload);\nif (msg.topic.includes(\"/Info/MaxChargeVoltage\")) flow.set(\"maxCVL\", msg.payload);\n\n// 2. Kontrola, zda máme všechna data. Spouštíme výpočet jen při aktualizaci proudu.\nif (!msg.topic.includes(\"/Dc/0/Current\")) return null;\n\n// Načtení hodnot s defaulty pro jistotu\nlet actualI = flow.get(\"actualI\") || 0;\nlet limitI = flow.get(\"limitI\") || null;\nlet maxCVL = flow.get(\"maxCVL\") || null;\n\n// Ochrana, pokud BMS ztratí signál - nic neděláme\nif (limitI === null || maxCVL === null) return null;\n\n// Načtení minulé hodnoty CVL (naše paměť) nebo nastavení na výchozí hodnotu BMS\nlet currentTargetV = flow.get(\"currentTargetV\") || maxCVL;\n\n// 3. Konfigurace regulace (Parametry)\nconst stepDown = 0.05;    // V: Jak moc snížit při přetížení\nconst stepUp = 0.02;      // V: Jak pomalu se vracet, když je bezpečno\nconst bufferA = 5;        // A: Bezpečnostní mez pod limitem před uvolněním brzdy\nconst minSafeV = 52.0;    // V: Nikdy nepustit pod tuto hranici (aby se nezačalo vybíjet)\n\nlet actionReason = \"None\";\n\n// --- HLAVNÍ LOGIKA ---\nif (actualI > limitI) {\n    currentTargetV -= stepDown;\n    actionReason = \"Snižování (překročen limit)\";\n} else if (actualI < (limitI - bufferA)) {\n    // Pokud jsme pod limitem s rezervou a napětí je aktuálně uškrcené\n    if (currentTargetV < maxCVL) {\n        currentTargetV += stepUp;\n        actionReason = \"Uvolňování (jsme pod limitem s rezervou)\";\n    }\n}\n\n// --- BEZPEČNOSTNÍ POJISTKY ---\n// Ochrana shora - nedovolíme víc než BMS\nif (currentTargetV > maxCVL) currentTargetV = maxCVL;\n// Ochrana zdola - nepustíme napětí k nule\nif (currentTargetV < minSafeV) currentTargetV = minSafeV;\n\n// Uložíme nový stav\nflow.set(\"currentTargetV\", currentTargetV);\n\n// Formátování a příprava výstupu\ncurrentTargetV = Math.round(currentTargetV * 100) / 100;\n\n// Minimalizace zápisové bouře - zapisujeme, jen pokud je hodnota nová nebo uplynul čas.\nlet lastSentV = flow.get(\"lastSentV\") || 0;\nif (currentTargetV !== lastSentV) {\n    flow.set(\"lastSentV\", currentTargetV);\n    msg.payload = currentTargetV;\n    \n    // Vytvoříme jednoduchý log výstup pro Node-RED Debug\n    node.warn(`Akce: ${actionReason} | Proud: ${actualI.toFixed(1)}A (Limit: ${limitI}A) | BMS maxCVL: ${maxCVL}V | Nové CVL: ${currentTargetV}V`);\n    \n    return msg;\n} else {\n    return null; // Hodnota se nezměnila, není důvod budit Venus OS sběrnici.\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "output_cvl",
                "debug_log"
            ]
        ]
    },
    {
        "id": "output_cvl",
        "type": "victron-output-settings",
        "z": "charge_control_flow",
        "service": "com.victronenergy.settings",
        "path": "/Settings/SystemSetup/MaxChargeVoltage",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Settings"
        },
        "pathObj": {
            "path": "/Settings/SystemSetup/MaxChargeVoltage",
            "type": "float",
            "name": "Max Charge Voltage"
        },
        "name": "Zápis CVL do DVCC",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_log",
        "type": "debug",
        "z": "charge_control_flow",
        "name": "System Log (Retence)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    }
]